p {
    color: #964B00;
    line-height: 30px;
    text-align: center;
    font-style: georgia;
}

h1 {
    color: red;
    text-decoration: underline;
    text-align: center;
    font-style: georgia;
}

h3 {
    color: black;
    text-align: center;

}

a {
    color: rgb(0, 1, 0);
    text-decoration: none;
}

button {
    background-color: white;
    color: blueviolet;
}

textarea {
    color: black;
}

span {
    text-decoration: underline;
}